Flask>=2.0
Flask-SQLAlchemy>=3.0
SQLAlchemy>=2.0
Werkzeug>=2.0
gunicorn
psycopg2
email-validator>=2.2.0
flask>=3.1.1
flask-sqlalchemy>=3.1.1
gunicorn>=23.0.0
psycopg2-binary>=2.9.10
sendgrid>=6.12.3
sqlalchemy>=2.0.41
werkzeug>=3.1.3
